*{
  margin:0;
  padding: 0;
}
.clear::after{
  content:"";
  display:block;
  clear:both;
}
.container{
  max-width:980px;
  margin: auto;
}
.left{
  float:left
}
body{
  font-family: 'Jua', sans-serif;
  color:#4a5759;
  background-image:url("./background.jpg");
}
img{
  max-width:100%;
}
a{
  text-decoration: none;
  color:#010101;
}
/*  header section */

.header-section{
  border-bottom:2px solid #ddd;
  padding-top: 5px;
}
.logo{
  width:28%;
}
.logo img{
  width:100px;

}
.logo img{
  float:left;
}
.logo span{
  display:inline-block;
  margin-top:30px;
  font-size:30px;
   font-weight: 600;
}
.menu{
 width:60%;
}
.button{
  width:12%;
}

.header-menu{}
.header-menu ul{
  list-style:none;
}
.header-menu ul li{
  display:inline-block;
}

.header-menu ul li a{
  display:block;
  font-size:20px;
  padding:20px 18px;
  line-height: 60px;
  font-weight: 500;
  text-transform: capitalize;
}
.header-menu ul li:hover > a{
  color:#00acee;
}
.btn-primary{
  font-size:20px;
  display:inline-block;
  padding:14px 10px;
  margin-top: 20px;
  border:2px solid #6278DF;
  border-radius:19px;
  transition: .5s ;
}
.btn-primary:hover{
  background: #00acee;
  color:#fff;
}
.header-menu ul li {
  position:relative;
}
.header-menu ul li ul{
  list-style:none;
  position:absolute;
  content:'';
  top:100%;
  left:0;
  width:220px;
  list-style:none;
}
.header-menu ul li ul{
  opacity:0;
  visibility:hidden;
  transition: .5s ;
  transform: scaleY(0);
  transform-origin: top center;
}
.header-menu ul li:hover ul{
  opacity:1;
  visibility:visible;
  transform: scaleY(1);
}
.header-menu ul li ul li{
  display:block;
}
.header-menu ul li ul li a{
  display:block;
  padding:0px 0px;
}












#sidebar {
  width: 160px;
  height: 100vh;
  padding: 0;
  margin-right: 50px;
  float: left;
  position: relative;
  color: #4a5759;
  overflow-x: hidden;
  overflow-y: auto;
}

#sidebar-title {
  letter-spacing: 1px;
  font-weight: 600;
  margin: 0;
  padding-top: 30px;
  width: 100%;
  height: 50px;
  background-image: url('https://imgpile.com/images/nascVM.jpg');
  font-size: 20px;
  text-align: center;
  background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.tab-list {
  display: none;
  float: left;
  width: 100%;
  padding: 0;
}

#main {
  display: block;
}

.tab-list li {
  list-style-type: none;
  text-align: left;
  width: 100%;
  padding: 20px 0 20px 30px;
  margin-top: 5px;
}

.tab-list li p {
  margin: 0;
}

.tab-list li i {
  margin-right: 7px;
  float: left;
}

.tab-list li:hover {
  background-color: #effffa;
  color: #4a5759;
  cursor: pointer;
}

#previous-menu {
  margin: 30px 0 0 30px;
  color: transparent;
}

#previous-menu.active:hover {
  color: darkgrey;
  cursor: pointer;
}

#previous-menu:hover {
  color: transparent;
}

#previous-menu.active {
  color: #4a5759;
}

#main-content {
  width: 100px;
  height: 100vh;
  padding: 0 0 0 0;
}


@media screen and (max-width: 768px){
  .tab-list li {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .tab-list li p {
    display: none;
  }

  .tab-list li i {
    font-size: 20px;
  }

  #sidebar {
    width: 80px;
  }

  #sidebar-title {
    font-size: 14px;
  }
}

#test0011{border-right:2px solid #ddd; width:160px;}
#black_container_main{width:100%;height:650px;background-color:black;opacity:0.8;}










          :root {
              --container-background: #273349;
              --table-background: #1c223b;
              --table-background-hover: #151b31;
              --table-text: #e2e2e2;
              --priority-200: #d6a13f;
              --priority-300: #4480e7;
              --priority-600: #40c587;
              --delete-background: #242c4c;
              --delete-color: #909090;
              --delete-hover: #ff0000;
          }
          /* END CSS VARIABLES */

          /* START OUTER CONTAINER STYLES */
          ._right_outer-container {
              background-color: var(--container-background);
              border-radius: 0.625rem;
              box-shadow: 0 5px 10px rgba(12,16,31,0.4);
              width: 850px;
              height:800px;
              z-index: -999;
          }

          /* Start Table Styles */
          #right_table_main {
              color: var(--table-text);
              font-size: 0.875rem;
              padding: 0.625rem;
              width: 100%;
              z-index: -999;
          }
          #right_table_main th {
              font-size: 1rem;
          }
          #right_table_main th, table td {
              padding: 0.9375rem;
              text-align: left;
          }
          #right_table_main tbody tr {
              background-color: var(--table-background);
          }
          #right_table_main tbody tr:hover {
              background-color: var(--table-background-hover);
              box-shadow: 0 3px 5px rgba(0,0,0,0.2);
          }
          #right_table_main tbody tr td:first-of-type {
              border-top-left-radius: 0.3125rem;
              border-bottom-left-radius: 0.3125rem;
          }
          #right_table_main tbody tr td:last-of-type {
              border-top-right-radius: 0.3125rem;
              border-bottom-right-radius: 0.3125rem;
              text-align: center;
          }
          #right_table_main tbody tr.priority-200 td:first-of-type {
              border-left: 0.3125rem solid var(--priority-200);
          }
          #right_table_main tbody tr.priority-300 td:first-of-type {
              border-left: 0.3125rem solid var(--priority-300);
          }
          #right_table_main tbody tr.priority-600 td:first-of-type {
              border-left: 0.3125rem solid var(--priority-600);
          }
          #right_table_main tbody tr td .fa-circle {
              transform: scale(0.7);
          }
          #right_table_main tbody tr.priority-200 td .fa-circle {
              color: var(--priority-200);
          }
          #right_table_main tbody tr.priority-300 td .fa-circle {
              color: var(--priority-300);
          }
          #right_table_main tbody tr.priority-600 td .fa-circle {
              color: var(--priority-600);
          }

          #right_table_main tbody tr:hover .delete-btn {
              opacity: 1;
          }







          #namanyay-search-btn {
          background:gray;
          color:white;
          padding:5px 10px;
          border-radius:0 5px 5px 0;
          -moz-border-radius:0 5px 5px 0;
          -webkit-border-radius:0 5px 5px 0;
          -o-border-radius:0 5px 5px 0;
          border:0 none;
          font-weight:bold;
          }

          #namanyay-search-box {
          background: #eee;
          padding:5px;
          border-radius:5px 0 0 5px;
          -moz-border-radius:5px 0 0 5px;
          -webkit-border-radius:5px 0 0 5px;
          -o-border-radius:5px 0 0 5px;
          border:0 none;
          width:160px;
          }

          span.msg,
          span.choose {
            color: #555;
            padding: 5px 0 10px;
            display: inherit
          }
          .container_selection {
            width: 190px;
            height:25px;
            text-align: center
          }

          /*Styling Selectbox*/
          .dropdown {
            width: 170px;
            height:100px;
            display: inline-block;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 2px rgb(204, 204, 204);
            transition: all .5s ease;
            position: relative;
            font-size: 14px;
            color: #474747;
            height: 100%;
            text-align: left
          }
          .dropdown .select {
              cursor: pointer;
              display: block;
              padding: 5.5px
          }
          .dropdown .select > i {
              font-size: 13px;
              color: #888;
              cursor: pointer;
              transition: all .3s ease-in-out;
              float: right;
              line-height: 20px
          }
          .dropdown:hover {
              box-shadow: 0 0 4px rgb(204, 204, 204)
          }
          .dropdown:active {
              background-color: #f8f8f8
          }
          .dropdown.active:hover,
          .dropdown.active {
              box-shadow: 0 0 4px rgb(204, 204, 204);
              border-radius: 5px 5px 0 0;
              background-color: #f8f8f8
          }
          .dropdown.active .select > i {
              transform: rotate(-90deg)
          }
          .dropdown .dropdown-menu {
              position: absolute;
              background-color: #fff;
              width: 100%;
              left: 0;
              margin-top: 1px;
              box-shadow: 0 1px 2px rgb(204, 204, 204);
              border-radius: 0 1px 5px 5px;
              overflow: hidden;
              display: none;
              max-height: 144px;
              overflow-y: auto;
              z-index: 9
          }
          .dropdown .dropdown-menu li {
              padding: 10px;
              transition: all .2s ease-in-out;
              cursor: pointer
          }
          .dropdown .dropdown-menu {
              padding: 0;
              list-style: none
          }
          .dropdown .dropdown-menu li:hover {
              background-color: #f2f2f2
          }
          .dropdown .dropdown-menu li:active {
              background-color: #e2e2e2
          }

          #circleimg{border: 0px solid gold;border-radius:50%;-moz-border-radius:50%;-khtml-border-radius:50%;-webkit-border-radius:50%;}
          #melon_chart_border{border:0px solid red; width:100%; background-color:#403d39;}
          
          .pagination {
  width:510px;
  background: #fff;
  display: flex;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.pagination li {
  list-style: none;
  line-height: 50px;
  margin: 0 5px;
}

.pagination li.pageNumber {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.pagination li a {
  display: block;
  text-decoration: none;
  color: #383838;
  font-weight: 600;
  border-radius: 50%;
}



.pagination li:first-child {
  margin-right: 30px;
  font-weight: 700;
  font-size: 20px;
}

.pagination li:last-child {
  margin-left: 30px;
  font-weight: 700;
  font-size: 20px;
}
